* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'Roboto Mono', monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 40px 0;
}

.page-container {
  margin: 40px;
  background-color: #222;
  border-radius: 6px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  min-width: 320px;
}

.button {
  border: 0;
  border-radius: 6px;
  height: 32px;
  padding: 0 14px;
  font-weight: 700;
  background-color: #333;
  color: #40BFF5;
  display: block;
  transition: all 0.25s ease;
  outline: none;
}

.button:hover {
  cursor: pointer;
  background-color: #444;
  color: #00FFF2;
}

.button.active {
  background-color: #8080F9;
  color: #fff;
}

.button-blue {
  color: #fff;
  background-color: #40BFF5;
}

.button-blue:hover {
  color: #fff;
  background-color: #20DFF4;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .button {
  margin: 0 6px;
}

.game-status {
  text-align: right;
  font-size: 1.5em;
}

.game-timer {
  flex: 1 0 0;
  text-align: left;
}

.game-buttons {
  display: flex;
  align-items: center;
}

.game-buttons > button {
  margin-left: 6px;
}

.difficulty-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.difficulty-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.difficulty-buttons > button {
  flex: 1 0 0;
  border-radius: 0;
}

.difficulty-buttons > button:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.difficulty-buttons > button:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.difficulty-summary {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 12px;
}

.difficulty-summary--box {
  width: calc(50% - 6px);
  border: 2px solid #333;
  padding: 24px 0;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  font-size: 1.75em;
}

.difficulty-summary--icon {
  height: 54px;
  width: 54px;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 12px;
}

.difficulty-summary .square {
  width: 27px;
  height: 27px;
  position: absolute;
}

.difficulty-summary .square:nth-child(1) {
  top: 0;
  left: 0;
}
.difficulty-summary .square:nth-child(2) {
  top: 0;
  right: 0;
}
.difficulty-summary .square:nth-child(3) {
  bottom: 0;
  right: 0;
}
.difficulty-summary .square:nth-child(4) {
  bottom: 0;
  left: 0;
}

.start-game-button {
  margin-top: 40px;
  font-size: 1.5em;
  height: 64px;
  padding: 0 32px;
}

.minefield {
  user-select: none;
  position: relative;
}

.minefield:after {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border: 1px solid #1d1d1d;
  pointer-events: none;
}

.square {
  position: absolute;
  border-width: 2px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.625em;
  font-weight: 700;
  transition: all 0.25s ease;
}

.square__hidden {
  background-color: #333;
  border-top-color: #555;
  border-right-color: #444;
  border-bottom-color: #111;
  border-left-color: #222;
}

.square__clickable:hover {
  background-color: #555;
  border-top-color: #777;
  border-right-color: #666;
  border-bottom-color: #333;
  border-left-color: #444;
  cursor: pointer;
}

.square__revealed {
  background-color: #222;
  border-color: #1d1d1d;
  border-width: 1px;
}

.square__has-mine {
  border-width: 2px;
  background-color: #FF00FF;
  border-top-color: #ff9efd;
  border-right-color: #ff60fe;
  border-bottom-color: #8a00b4;
  border-left-color: #c500d4;
}

.square__flagged {
  border-width: 2px;
  background-color: #004fbd;
  border-top-color: #0b8de8;
  border-right-color: #0068cc;
  border-bottom-color: #113486;
  border-left-color: #0d3d9f;
}

.square-one {
  color: #00FFF2;
}

.square-two {
  color: #609FF7;
  /* color: #20DFF4; */
}

.square-three {
  color: #9F60FA;
  /* color: #40BFF5; */
}

.square-four {
  color: #609FF7;
}

.square-five {
  color: #8080F9;
}

.square-six {
  color: #9F60FA;
}

.square-seven {
  color: #BF40FC;
}

.square-eight {
  color: #DF20FD;
}

.square-nine {
  color: #FF00FF;
}


